<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<false/>
	<key>UILaunchScreens</key>
	<dict>
		<key>UIDefaultLaunchScreen</key>
		<string></string>
		<key>UILaunchScreenDefinitions</key>
		<array>
			<dict>
				<key>UIImageName</key>
				<string></string>
				<key>UILaunchScreenIdentifier</key>
				<string></string>
			</dict>
		</array>
		<key>UIURLToLaunchScreenAssociations</key>
		<dict/>
	</dict>
</dict>
</plist>
